[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
Comment=Browse files and folders
Exec=thunar %F
Icon=org.xfce.thunar
Terminal=false
StartupNotify=true
Categories=System;FileManager;
