[Desktop Entry]
Version=1.0
Type=Application
Name=Wireshark
Comment=Network Traffic Packet Analyzer
Exec=wireshark %f
Icon=wireshark
Terminal=false
StartupNotify=true
Categories=Network;Security;
