[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Web Browser
Comment=Browse the Internal Network
Exec=/usr/bin/firefox-esr %u
Icon=firefox-esr
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
